@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 1, 0.3)),
               url('/Images/bgground.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


@media all and (max-width:768px) {
    body{
        margin: 0;
        padding: 0;
        background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 1, 0.3)),
                   url('/Images/bgground.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        background-attachment: fixed !important;
    }
    
}



.navbar{
    color: white;
    background-color: #353b48;
    display: flex;
    align-items: flex-end;
    padding: 10px 50px;
    font-size: 25px;
    margin: 0;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    box-shadow: 0 0 10px 2px #222;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar .navbar-brand{
    color: #f1f2f7;
    letter-spacing: 1px;
    text-transform: lowercase;
    transition: 2s ease-in-out;
}

.navbar .search-box input{
    padding: 10px 0 10px 0px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #f1f2f7;
    width: 320px;
}

.back-arrow{
    font-size: 27px;
    cursor: pointer;
    display: none;
    transition: 2s ease-in-out;
}

.search-icon {
     font-size: 22px;
     cursor: pointer;
     transition: all 0.3s ease;
}

.search-box input::placeholder{
    font-size: 15px;
}

.search-box {
    transition: all 0.3s ease;
    display: none;
}
.search-box-content{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f2f7;
}

.search-cancel{
    font-size: 23px;
    padding-top: 40px;
    opacity: 0.7;
    cursor: pointer;
}



.nav-hide{
    display: none;
}

.nav-show{
    display: block;
}



@media all and (max-width:768px) {
    .navbar .search-box input{
        font-size: 16px;
        width: 250px;
        padding: 10px 0 6px 0px;
        
    }
    .back-arrow{
        font-size: 22px;
    }
    .navbar{
        display: flex;
        align-items:  flex-end !important;
        justify-content: space-between;
        padding: 10px 20px !important;
    }
    
}




.usercard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 20px;
    padding: 30px 0px;
    font-family: "Inter", sans-serif;
    flex-wrap: wrap;
    color: #b3b8cd;
}

.usercard .usercard-div{
    background-color: #353b48;
    border-radius: 5px;
    padding: 280px 0px 20px 0;
    width: 350px;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.cover-image{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}

h3{
    margin: 10px 0;
}

h4{
    margin: 5px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.usercard .status{
    border-radius: 3px;
    padding: 3px 7px;
    position: absolute;
    font-size: 13px;
    font-weight: 590;
    color: #231e39;
    text-transform: uppercase;
    top: 0px;
    right: 5px;
    z-index: 3;
}

.online{
    background-color: greenyellow;
}

.offline{
    background-color: #febb0b;
}

.favorite{
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 3;
    font-size: 20px;
    cursor: pointer;

}

.favorite-icon{
    color: white;
}

.bi-heart-fill{
    color: rgb(255, 72, 0);
}

.cricketers{
    border: 2px solid #0984e3;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    z-index: 5 !important;
    position: absolute;
    left: 27%;
    top: 25%;
}



.name-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-div div{
    margin: 0 2px;
}
.verified{
    width: 25px;
}

.messenger{
    width: 19px;
    float: left;
}

.india {
    background: linear-gradient(49deg, #FF8F05 20%, #F9F8F7 40%, #06bd0c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* For browsers that do not support background-clip */
    display: inline-block;
}



.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons .message, .follow{
  background-color: #0984e3;
  border: 2px solid #0984e3;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
}

.buttons button:focus-visible, .buttons button:focus {
    outline: none;
    border: 2px solid #0984e3;
}

.following{
    background-color: transparent;
}




@media all and (max-width:768px) {
    .navbar{
        color: white;
        background-color: #353b48;
        display: flex;
        align-items: baseline;
        padding: 10px;
        font-size: 20px;
        margin: 0;
        justify-content: space-between;
        font-family: "Inter", sans-serif;
        box-shadow: 0 0 10px 2px #222;
        position: sticky;
        top: 0;
        z-index: 20;
    }
    
    .navbar .navbar-brand{
        color: #f1f2f7;
        letter-spacing: 0px;
        text-transform: lowercase;
    }
    
    .navbar input{
        padding: 7px;
        border-radius: 2px;
        border: none;
        outline: none;
        font-size: 13px;
        width: 120px;
    }
    
    .usercard .usercard-div{
        background-color: #353b48;
        border-radius: 5px;
        padding: 280px 0px 20px 0;
        width: 300px;
        max-width: 100%;
        text-align: center;
        position: relative;
    }
    
    .cover-image{
        position: absolute;
        width: 100%;
        height: 175px;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .cricketers{
        border: 2px solid #0984e3;
        border-radius: 50%;
        padding: 5px;
        width: 130px;
        z-index: 5 !important;
        position: absolute;
        left: 27%;
        top: 28%;
    }

    .buttons .message, .follow{
        background-color: #0984e3;
        border: 2px solid #0984e3;
        border-radius: 3px;
        color: #fff;
        font-weight: 500;
        padding: 7px 20px;
        cursor: pointer;
        font-size: 14px;
      }    

      .following{
        background-color: transparent;
    }
}




.india {
    background: linear-gradient(49deg, #FF8F05 20%, #F9F8F7 40%, #06bd0c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* For browsers that do not support background-clip */
    display: inline-block;
}

.australia {
    background: linear-gradient(49deg, #0278ff 20%, #FFFFFF 30%, #FF0000 60%, #FFCC00 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.newzealand {
    background: linear-gradient(49deg, #0277fc 25%, #FFFFFF 50%, #fa0a02 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}


.southafrica {
    background: linear-gradient(49deg, #02fc4d 20%, #FFFFFF 40%, #ffae00 60%, #fd3131 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.england {
    background: linear-gradient(49deg, #01d9ff 25%, #FFFFFF 50%, #fd315e 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.westindies {
    background: linear-gradient(49deg, #9e2b5b 15%, #FFFFFF 40%, #ffd102 60%, #2d9ffc 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}


.gender{
    font-size: 0.1px;
    visibility: hidden;
}


/* menu filter */
.menu{
    font-size: 25px;
    cursor: pointer;
}

.offcanvas {
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: #353b48;
    top: 0;
    left: -270px; /* Initially off-screen */
    z-index: 100;
    color: #f1f2f7;
    font-family: "Inter", sans-serif;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.offcanvas-show {
    transform: translateX(270px); /* Move into view */
    opacity: 1;
}

.offcanvas-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.offcanvas-title{
    font-weight: 400;
    font-size: 23px;
}

.cancel{
    font-size: 30px;
    cursor: pointer;
}


.canva-content{
    padding:10px 20px;
    font-size: 18px;
}

.canva-content i{
    font-size: 14px;
    color: #e2dbd6;
    margin-right: 3px;
}

.mt{
    margin-top: 15px;
}

.canva-content li{
    list-style-type: none;
    padding: 7px 3px;
    cursor: pointer;
}

.canva-content li:hover{
    color: #bec7dd;
}

.country-items, .role-items, .gender-items{
    padding-left:40px;
    font-size: 15px;
    display: none;
    transition: 1s ease-in-out ;
}

.country-items{
    margin-bottom: 70px;
}




.canva-country, .canva-role, .canva-gender{
    cursor: pointer;
    transition: 1s ease-in-out;
}




.show-items {
    display: block; /* or flex, depending on your layout */
    opacity: 1;
    max-height: 200px; /* Adjust based on content */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .items {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .fa-chevron-right.rotated {
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
  }
  



/* message body */


.msg-body{
    background: url('/Images/Msg-bg.jpg');
    font-family: "Inter", sans-serif;
    width: 420px;
    height: 87%;
    position: fixed;
    top: 12%;
    left: 32%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: end;
    visibility: hidden;
}

.msg-show{
    visibility: visible;
}

.msg-title{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.msg-head{
    display: flex;
    justify-content: space-between;
    background-color: #232a3b;
    color: #e2dbd6;
    padding: 15px 20px;
    width: 100%;
}

.msg-head i{
    font-size: 30px;
    cursor: pointer;
}

.msg-title img{
    width: 80px;
    border-radius: 100%;
    margin-right: 10px;
}

.msg-title h3{
    font-weight: 500;
    font-size: 23px;
}
.msg-title h4{
    font-weight: 500;
}

.msg-body > div:not(.msg-footer,.msg-head) {
    flex-grow: 1;
}
.msg-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 15px 20px;
}

.msg-footer .msg-send{
    color: white;
    font-size: 23px;
    padding: 8px 7px 3px 11px;
    border-radius: 100%;
    background-color: #0277fc;
    cursor: pointer;
}

.msg-footer textarea{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    width: 325px;
    max-height: 60px;
    border-radius: 20px;
    padding-left: 20px;
    resize: none; /* Disable manual resizing by the user */
    overflow: hidden; /* Hide scrollbar */
}



.msg-footer textarea::placeholder{
    font-size: 15px;
    opacity: 0.8;
}


.msg-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1d222e;
    opacity: 0.6;
    z-index: 15;
    display: none;
  }
  
  .msg-bgshow {
    display: block;
  }
  


  .msg-content{
    color: #f1f2f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    width: 100%;
}

.msg-content::-webkit-scrollbar{
    display: none;
}

.msg-index{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 2px 10px;
}

.msg-msg-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-end;
}

.msg-content .msg-msg{
    text-align: right;
    margin: 5px 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    background-color: #0645ce;
    min-width: 5px;
    max-width: 260px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.automatic-msg{
    align-self: flex-start;
}
.automatic{
    text-align: left;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    background-color: #4e7c03;
    min-width: 10px;
    max-width: 200px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 10px;
}

.automatic-msg .msg-time{
    padding-left: 7px;
    padding-top: 5px;
    text-align: left;
}

.msg-time{
    opacity: 0.7;
    font-size: 10px;
}






@media all and (max-width:768px) {
    .msg-body{
        width: 305px;
        height: 85%;
        top: 10%;
        left: 8%;
    } 
    .msg-footer textarea{
        width: 210px;
        font-size: 18px;
    }
    .msg-title h3{
        font-size: 18px;
    }
    .msg-title h4{
        font-size: 16px;
    }
    .msg-title img{
        width: 70px;
    }

    .offcanvas{
        width: 240px;
    }

    .mytoast{
        width: 330px;
        margin:0 10px 0 15px;
        background-color: #353b48 !important;
    }
}  



.allplayers{
    cursor: pointer;
    margin-bottom: 15px;
}

.allplayers i{
    font-size: 20px;
}

.social{
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.social a{
    color: rgb(255, 230, 4);
    text-decoration: none;
    margin: 2px;
}

.social a:hover{
    opacity: 0.7;
}
