@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 1, 0.3)),
               url('/Images/bgground.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    color: white;
    background-color: #353b48;
    display: flex;
    align-items: baseline;
    padding: 10px 20px;
    font-size: 25px;
    margin: 0;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    box-shadow: 0 0 10px 2px #222;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar .navbar-brand{
    color: #f1f2f7;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.navbar input{
    padding: 10px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 15px;
}


.usercard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 20px;
    padding: 30px 0px;
    font-family: "Inter", sans-serif;
    flex-wrap: wrap;
    color: #b3b8cd;
}

.usercard .usercard-div{
    background-color: #353b48;
    border-radius: 5px;
    padding: 280px 0px 20px 0;
    width: 350px;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.cover-image{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}

h3{
    margin: 10px 0;
}

h4{
    margin: 5px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.usercard .status{
    border-radius: 3px;
    padding: 3px 7px;
    position: absolute;
    font-size: 13px;
    font-weight: 590;
    color: #231e39;
    text-transform: uppercase;
    top: 0px;
    right: 5px;
    z-index: 3;
}

.online{
    background-color: greenyellow;
}

.offline{
    background-color: #febb0b;
}

.cricketers{
    border: 2px solid #0984e3;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    z-index: 5 !important;
    position: absolute;
    left: 27%;
    top: 25%;
}



.name-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-div div{
    margin: 0 2px;
}
.verified{
    width: 25px;
}

.messenger{
    width: 19px;
    float: left;
}

.india {
    background: linear-gradient(49deg, #FF8F05 20%, #F9F8F7 40%, #06bd0c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* For browsers that do not support background-clip */
    display: inline-block;
}



.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons .message, .follow{
  background-color: #0984e3;
  border: 2px solid #0984e3;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
}

.buttons button:focus-visible, .buttons button:focus {
    outline: none;
    border: 2px solid #0984e3;
}

.following{
    background-color: transparent;
}




@media all and (max-width:768px) {
    .navbar{
        color: white;
        background-color: #353b48;
        display: flex;
        align-items: baseline;
        padding: 10px;
        font-size: 20px;
        margin: 0;
        justify-content: space-between;
        font-family: "Inter", sans-serif;
        box-shadow: 0 0 10px 2px #222;
        position: sticky;
        top: 0;
        z-index: 20;
    }
    
    .navbar .navbar-brand{
        color: #f1f2f7;
        letter-spacing: 0px;
        text-transform: lowercase;
    }
    
    .navbar input{
        padding: 7px;
        border-radius: 2px;
        border: none;
        outline: none;
        font-size: 13px;
        width: 120px;
    }
    
    .usercard .usercard-div{
        background-color: #353b48;
        border-radius: 5px;
        padding: 280px 0px 20px 0;
        width: 300px;
        max-width: 100%;
        text-align: center;
        position: relative;
    }
    
    .cover-image{
        position: absolute;
        width: 100%;
        height: 175px;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .cricketers{
        border: 2px solid #0984e3;
        border-radius: 50%;
        padding: 5px;
        width: 130px;
        z-index: 5 !important;
        position: absolute;
        left: 27%;
        top: 28%;
    }

    .buttons .message, .follow{
        background-color: #0984e3;
        border: 2px solid #0984e3;
        border-radius: 3px;
        color: #fff;
        font-weight: 500;
        padding: 7px 20px;
        cursor: pointer;
        font-size: 14px;
      }    
}
